<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="cn.stucar.model.User"/>
        <typeAlias alias="UserCode" type="cn.stucar.model.UserCode"/>
        <typeAlias alias="School" type="cn.stucar.model.School"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapping/UserMapper.xml"/>
        <mapper resource="mapping/CoachMapper.xml"/>
        <mapper resource="mapping/SchoolMapper.xml"/>
    </mappers>
</configuration>